/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
}
body {
  height: 100%;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header #header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;
  border-top: 0.5rem solid white;
  border-bottom: 0.5rem solid white;
  color: white;
}
header #header .header-content h1 {
  font-size: 2.2rem;
  padding: 0.5rem;
  text-align: center;
}
header #header .header-content p {
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav ul {
  display: flex;
  flex-direction: column;
}
nav ul li {
  font-size: 1rem;
  padding: 1rem 3rem;
  border: 1px solid black;
  margin: 0.5rem;
}
nav ul li a {
  font-size: 2rem;
  text-decoration: none;
}
@media (min-width: 500px) {
  header #header .header-content h1 {
    font-size: 3.5rem;
    padding: 1rem;
  }
  header #header .header-content p {
    font-size: 2.5rem;
    padding: 1rem;
  }
  nav ul {
    display: flex;
    flex-direction: row;
  }
  nav ul li {
    padding: 2rem;
  }
  nav ul li a {
    font-size: 2rem;
  }
}
footer {
  text-align: center;
}
.page-container {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-image: url(../img/nikhita-s-615116-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  margin: 0;
}
.content-container {
  display: flex;
  flex-direction: column;
}
.content-container .content-section {
  border: 1px solid black;
  padding: 2rem;
  margin: 2rem;
  background: white 20%;
  visibility: hidden;
}
.content-container .content-section h2 {
  font-size: 2rem;
}
.content-container .content-section p {
  font-size: 1.5rem;
}
@media (min-width: 500px) {
  .page-container {
    background-image: url(../img/nikhita-s-615116-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .content-container {
    flex-direction: row;
  }
}
