/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
}
body {
  height: 100%;
}
/* .background-image {
    background-image: url(../img/nikhita-s-615116-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
*/
.header-container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.header-container header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container header #header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;
  border: 2px solid #2A2A2A;
}
.header-container header #header .header-content h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}
.header-container header #header .header-content p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
}
.header-container nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.header-container nav ul {
  display: flex;
  flex-direction: column;
}
.header-container nav ul li {
  font-size: 1rem;
  padding: 0.5rem 3rem;
  border: 2px solid #2A2A2A;
  margin: 0.5rem;
  background-color: #ffffff;
}
.header-container nav ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: #2A2A2A;
  font-family: 'Open Sans', sans-serif;
}
.header-container nav ul li:hover {
  background-color: #45AB60;
}
@media (min-width: 500px) {
  .header-container {
    padding-left: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  .header-container nav {
    margin-top: 3rem;
  }
  .header-container nav ul {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-around;
  }
  .header-container nav ul li a {
    font-size: 2rem;
  }
  .header-container header #header {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .header-container header #header .header-content h1 {
    font-size: 3rem;
    padding: 1rem;
  }
  .header-container header #header .header-content p {
    font-size: 2rem;
    padding: 1rem;
  }
}
@media (min-width: 900px) {
  .header-container {
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: space-between;
    padding: 2rem;
  }
  .header-container header #header {
    margin-right: 1rem;
  }
  .header-container header #header .header-content {
    padding: 1rem;
  }
  .header-container header nav {
    margin-left: 2rem;
  }
  .header-container header nav ul li a {
    font-size: 2rem;
  }
}
.footer-container {
  width: 100%;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
}
.footer-container footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container footer p {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}
.page-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/nikhita-s-615116-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}
.content-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.content-container .default-content .content-text {
  display: flex;
  align-items: center;
  align-content: center;
}
.content-container .content-section {
  border: 1px solid black;
  padding: 2rem;
  line-height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.7);
}
.content-container .content-section .content-text {
  padding: 2rem;
}
.content-container .content-section .content-text h2 {
  font-size: 3rem;
  font-weight: bold;
  padding: 0.5rem;
  border-bottom: 1px dotted black;
  text-align: center;
}
.content-container .content-section .content-text p {
  font-size: 1.5rem;
  padding: 1rem;
}
<<<<<<< HEAD:old-design/css/index.css
.content-container .content-section .content-text p strong {
  font-weight: bold;
}
.content-container .content-section .content-text p em {
  font-style: italic;
}
=======
>>>>>>> parent of af42231... marketing copy for schools done:css/index.css
.menu-item {
  display: none;
}
.menu-item-selected {
  display: block;
}
.log-in-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  margin: 1rem;
}
.log-in-form form {
  border: 2px solid #191a1c;
  padding: 1rem;
}
.log-in-form form input {
  margin: 1rem;
  padding: 0.5rem;
}
.log-in-form form .submit-button {
  padding: 1rem 3rem;
  font-size: 1.5rem;
}
