/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
}
body {
  height: 100%;
}
.background-image {
  background-image: url(../img/nikhita-s-615116-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-container header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container header #header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;
  color: #191a1c;
  background-color: rgba(248, 247, 216, 0.5);
  border: 2px solid #191a1c;
}
.header-container header #header .header-content h1 {
  font-size: 2.2rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px dotted #191a1c;
}
.header-container header #header .header-content p {
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}
.header-container nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-container nav ul {
  display: flex;
  flex-direction: column;
}
.header-container nav ul li {
  font-size: 1rem;
  padding: 1rem 3rem;
  border: 2px solid #191a1c;
  margin: 0.5rem;
  background-color: rgba(248, 247, 216, 0.5);
}
.header-container nav ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: #191a1c;
}
.header-container nav ul .menu-link {
  background-color: rgba(248, 247, 216, 0.5);
}
.header-container nav ul .menu-link-selected {
  background-color: rgba(248, 247, 216, 0.8);
}
@media (min-width: 900px) {
  header {
    padding: 0;
    padding-top: 7rem;
    margin: 0;
  }
  header #header {
    padding: 0;
    margin: 0;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  header #header .header-content h1 {
    font-size: 3.5rem;
    padding: 1rem;
  }
  header #header .header-content p {
    font-size: 2.5rem;
    padding: 1rem;
  }
}
@media (min-width: 900px) {
  .header-container {
    padding-left: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .header-container nav {
    margin-top: 3rem;
  }
  .header-container nav ul {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-around;
  }
  .header-container nav ul li {
    padding: 2rem;
  }
  .header-container nav ul li a {
    font-size: 2rem;
  }
}
footer {
  text-align: center;
  margin-bottom: 1rem;
}
footer p {
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  margin: 1rem;
}
.page-container {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background: #191a1c;
}
.content-container {
  display: flex;
  flex-direction: column;
}
.content-container .content-section {
  border: 1px solid black;
  padding: 2rem;
  margin: 2rem;
  background: white 20%;
}
.content-container .content-section h2 {
  font-size: 2rem;
}
.content-container .content-section p {
  font-size: 1.5rem;
}
.menu-item {
  display: none;
}
.menu-item-selected {
  display: block;
}
@media (min-width: 900px) {
  .content-container {
    flex-direction: row;
  }
}
