.footer-container {
    width: 100%;
    /*
    padding-top: .7rem;
    padding-bottom: .5rem;
    */
    footer {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        text-align: center;
        color: @bgcolor;
        font-size: 1.5rem;
        padding: .5rem;
        border-bottom: 1px dotted @bgcolor;
    }
}
}