.background-image {
    background-image: url(../img/nikhita-s-615116-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
   .header-container {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   header {
        display: flex;
        justify-content: center;
        align-items: center;
        #header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            margin: 2rem;
            color: @chalkboardgrey;
            background-color: @headeropaquebg;
            border: 2px solid @chalkboardgrey;
            .header-content {
                h1 {
                    font-size: 2.2rem;
                    font-weight: bold;
                    padding: 1rem;
                    text-align: center;
                    border-bottom: 1px dotted @chalkboardgrey;
                }
                p {
                    font-size: 1.5rem;
                    padding: .5rem;
                    text-align: center;
                }
            }
        }
   
    }
nav {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    ul {
        display: flex;
        flex-direction: column;
       
        li {
            font-size: 1rem;
            padding: 1rem 3rem;
            border: 2px solid @chalkboardgrey;
            margin: .5rem;
            background-color: @headeropaquebg;
            a {
                font-size: 2rem;
                text-decoration: none;
                color: @chalkboardgrey;
            }
        }
       // li:hover {
       //     background-color: rgba(248, 247, 216, 0.8);
        //}
    }
}
   }

.header-container {
    nav {
        ul {
            .menu-link {
            background-color: @headeropaquebg;
            }
            .menu-link-selected {
                background-color: @headermoreopaquebg;
            }
        }
    }
}




//Desktop Styles 

@media @desktop {
    header {
        padding: 0;
        padding-top: 10rem;
        margin: 0;
        #header {
            padding: 0;
            margin: 0;
            margin-bottom: 3rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            .header-content {
                
                h1 {
                    font-size: 3.5rem;
                    padding: 1rem;
                }
                p {
                    font-size: 2.5rem;
                    padding: 1rem;
                }
            }
        }
    }
}
@media @desktop {
    .header-container {
        padding-left: 0;
        padding-top: 5rem;
        padding-bottom: 5rem;
        align-items: flex-start;
        justify-content: flex-start;
    nav {
        margin-top: 3rem;
        ul {
            display: flex;
            flex-direction: row;
            align-items: space-around;
            justify-content: space-around;
            li {
                padding: 2rem;
                a {
                    font-size: 2rem;
                }
            }
        }
    }
}
}