
@import "global.less";
@import "variables.less";
@import "mixins.less";
@import "header.less";
@import "footer.less";


 .page-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-background {
    background-image: url(../img/nikhita-s-615116-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1200px;
}


.content-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    .default-content {
    .content-text {
        display: flex;
        align-items: center;
        align-content: center;
        .image {
            background-image: url(../img/nikhita-s-615116-unsplash.jpg);
            width: 55rem;
            height: 55rem;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    }
    .content-section {
        border: 1px solid black;
        padding: 2rem;
        line-height: 2.5rem;
        .content-text{
            padding: 2rem;
            h2 {
                font-size: 3rem;
                font-weight: bold;
                padding: .75rem;
                border-bottom: 1px dotted black;
                text-align: center;
            }
            h3 {
                font-size: 2rem;
            }
            p {
                font-size: 1.75rem;
                padding: 1rem;
                strong {
                    font-weight: bold;
                }
                em {
                    font-style: italic;
                }
            }

        }
    }
}

.menu-item {
    display: none;
}

.menu-item-selected {
    display: block;
}

// LOG IN FORM 

.log-in-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    margin: 1rem;
    form {
        border: 2px solid @chalkboardgrey;
        padding: 1rem;
        input {
            margin: 1rem;
            padding: .5rem;
        }
        .submit-button {
            padding: 1rem 3rem;
            font-size: 1.5rem;
        }
    }
}

// school info section 
#school-info {
    font-size: 2.5rem;
    line-height: 2rem;    
}

.login-types {
    display: flex;
    flex-direction: column;
    .login-type {
        border: 1px solid @chalkboardgrey;
        padding: 2rem;
        margin: .5rem;
    }
}



@media @desktop {
.login-types {
    display: flex;
    flex-direction: row;
    .login-type {
        text-align: justify;
        h3 {
            font-weight: bold;
        }
    }
}
}
