
@import "global.less";
@import "variables.less";
@import "mixins.less";
@import "header.less";
@import "footer.less";
@import "testimonials.less";


.page-container {
    width: 100%;
    font-family: @opensans;
    /*
    background-image: url(../img/chalkboardcloseupzoom.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    */
}

// CONTENT STYLES

 .content-background {
    background-image: url(../img/chalkboardcloseupzoom.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    .content-section {
        border: 1px solid black;
        padding: 2rem;
        background: @headeropaquebg;
        .content-text{
            background: @headermoreopaquebg;
            padding: 2rem;
            h2 {
                font-size: 2rem;
                font-weight: bold;
                padding: .5rem;
                border-bottom: 1px dotted black;
                text-align: center;
            }
            h3 {
                font-size: 1.8rem;
            }
            h5 {
                
                font-size: 2rem;
                text-align: center;
            }
            p {
                font-size: 1.5rem;
                padding: 1rem;
            }
            ul {
                font-size: 1.5rem;
                padding: 1rem;
                list-style-type: square;
                li {
                    font-size: 1.25rem;
                    padding: .5rem;
                    text-align: left;
                }
            }
            address {
                font-size: 1.5rem;
                padding: 1rem;
                line-height: 2rem;
                display: block;
                text-align: center;
            }
            .content-box-container {
                display: flex;
                flex-direction: column;
                .user {
                    background-color: @headermoreopaquebg;
                }
                .how-works {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                .issues {
                    border-top: 1px dotted @chalkboardgrey;
                    padding-top: 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    @media @desktop {
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    .content-img {
                        max-width: 100%;
                        width: 40%;
                    }
                }
                }
                .content-box {
                    border: 1px dotted @chalkboardgrey;
                    padding: 1rem;
                    margin: 1rem;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
                @media @desktop {
                    flex-direction: row;
                }
            }
        }
    }
}



.desktop-box {
    border: 1px dotted @chalkboardgrey;
    padding: 1rem;
    
}
.content-img {
    max-width: 100%;
    width: 70%;
    height: auto;
    margin: 1rem;
    text-align: center;
}



// CONTENT SPECIFIC STYLES 


//login page

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

//contact page 
.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
// STYLES FOR JS 

// classes for JS functionality for menu - content connection
.menu-item {
    display: none;
}

.menu-item-selected {
    display: block;
}


