
.testimonial-slides {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  flex-wrap: no-wrap;
}


/* Slideshow container */
.slideshow-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: space-between;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.show-slide {
  display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  color: @chalkboardgrey;
  font-weight: bold;
  font-size: 2rem;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
