
.testimonial-slides {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: space-around;
  flex-wrap: no-wrap;
  @media @desktop {
    .content-img {
      width: 40%;
      max-height: 300px;
    }
  }
}


/* Slideshow container */
.slideshow-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.slide-cont {
  display: flex;
  flex-direction: column-reverse;
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
}

 .show-slide {
  display: block;
}

.hide-slide {
  display: none;
};

/* Next & previous buttons */
.prev, .next {
  color: @bgcolor;
  font-weight: bold;
  font-size: 2rem;
  background-color: @wallcolor;
}

/* Fading animation */
/*
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

*/
